*{
margin:0;
padding:0;

}
h1{
  color:rgb(245, 189, 4);
}
body{
  background-color:rgb(11, 2, 31);
  text-align:center;
}
.container{
  height:70vh; 
  display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
gap: 1.5vmin;
}
.game{
  height: 60vmin;
  width: 60vmin;
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
gap: 1.5vmin;
}                                                                                                                                                                                                                                                                                                                                                                                                     
.box{
  height:18vmin;
    width:18vmin;
border-radius:2rem;
box-shadow: 0 0 1rem rgba(4, 240, 189, 0.501);
font-size:8vmin;
color:rgb(95, 9, 138);
font-weight:bolder;
  transition: background-color 0.2s ease;
}
#reset{
  width:200px;
  height:32px;
  color:rgb(6, 84, 88);
  background-color:rgb(158, 203, 22);
  border:2 px solid black;
  border-radius: 3rem;
  font-weight:bolder;
  box-shadow:0 0 1rem rgba(172, 18, 18, 0.7);
} 
.clicked {
    background-color: rgb(205, 52, 9);
}
#newGame{
   width:200px;
  height:32px;
  color:rgb(238, 191, 191);
  background-color:rgb(162, 9, 101);
  border:2 px solid black;
  border-radius: 3rem;
  font-weight:bolder;
  box-shadow:0 0 1rem rgba(228, 71, 3, 0.7);
}
#msg{
  color:antiquewhite;
  font-size:8vmin;
}
.msg-container{
  height:10vmin;
}
.hide{
  display: none;
}
.winner2{
    background-color: gold !important;
}